@font-face {
    font-family: inter ;
    src: url(/archivos/Inter-VariableFont_opsz\,wght.ttf);
}




html

{
  
padding-top: 5rem;
background-color: #e8e4e4;
display: flex;

align-items: column;
justify-content: center;
}

.navBar
{
    z-index: 100;
   display: flex;
   justify-content: space;
   align-items: center;
   justify-content: center;
   gap: 8rem;
   
 

overflow: hidden;
top: 0px;
left: 0%;
height: 4rem;
width: 100%;
background-color: #fff;
position: fixed;
box-shadow: 0rem 1px 10px #00000059 ;

}

.elementsLeft

{
display: flex;
flex-direction: row;
gap: 3rem;
justify-content: center;
align-items: center;
}

.nvText

{
    
font-size: 15px;
font-family: inter, bold  ;
font-weight: 550;

color: #2a5a86;



}

.nvElem

{
    text-decoration: none;
    align-items: center;
display: flex;
justify-content: center;
flex-direction: row;
gap: 0.5rem;
text-wrap: nowrap;
height: 1.75rem;
padding-left: 0.5rem;
padding-right: 0.5rem;

}


.elementsRight

{

display: flex;
justify-content: center;
align-items: center;
flex-direction: row;
flex-wrap: nowrap;



}


.nombre

{
    font-size: 15px;
color: #181baf;
font-family: inter ;
font-weight: 550;
text-wrap: wrap;
width: 9rem;


}

.nvMenus

{
display: flex;
justify-content: center;
align-items: center;
flex-direction: row;

}

.nvElem:hover

{
cursor: pointer;
background-color: rgba(8, 8, 8, 0.062);
border-radius: 9px;



}

#editorial

{

    padding-left: 1rem;
}

.tituloORT

{
display: flex;
justify-content: center;
align-items: end;
background-image: url(/archivos/ssss.jpg);
background-size: contain;
height: 14rem;
width: 73rem;
box-shadow: 0rem 1px 10px #00000059 ;
}

.barraAbajo


{
padding-left: 2.75rem;
display: flex;
align-items: center;
gap: 58rem;
height: 20%;
width: 100%;
background-color: #fff;


}

.titleText

{
font-size: 14px;
font-family: inter;
color: #0e3f6d;
text-decoration: none;
font-weight: 400;
}

#icon

{
height: 3rem;
width: 3rem;
border-radius: 90px;

}
#aieka

{
text-align: center;
height: 13rem;
width: 13rem;

}
.pedazo

{
    
background-color: #00000034;
height:1px;
width: 23rem;


}
.noticia

{
display: flex;
gap: 0.5rem;

flex-direction: column;
 
background-color: #fff;
height: auto;
width: 23rem;
box-shadow: 0rem 1px 10px #00000059 ;
}


.newsletter

{

display: flex;
justify-content: space-between;
align-items: left;
padding-top: 1rem;
flex-direction: row;

}

.subText

{
    font-size: 14px;
font-family:  'helvetica';
opacity: 770%;


}


.parteAbajo

{
    justify-content: center;
display: flex;
align-items: center;
flex-direction: column;
padding-left: 1.5rem;
padding-right: 1.5rem;

}

.tituloNot

{
display: flex;
align-items: center;
text-decoration: none;
color: #2aa4ec;
font-family: inter;
padding-left: 1.5rem;
padding-right: 1.5rem;
font-size: 23px;
font-weight: 390;
padding-top: 0.5rem;
}
.columna

{
    
    flex-direction: column;
display: flex;
gap: 2rem;


}
.menuHover

{

background-color: #fff;
position: absolute;
position: fixed;
box-shadow: 0rem 1px 10px #00000059 ;
width: 13rem;
height: auto;
display: flex;
align-items: left;
flex-direction: column;
gap: 0.5rem;
border-bottom-left-radius: 15px;
border-bottom-right-radius: 15px;
padding-left: 0.5rem;
padding-right: 0.5rem;
padding-top: 1rem;
padding-bottom: 1rem;


}

.textoHover

{
    padding-left: 1rem;
    display: flex;
    justify-content: left;
    align-items: center;
    border-radius: 5px;
    height: 2rem;
font-weight: 300;
font-family: inter;
font-size: 15px;
text-decoration: none;
color: #0e3f6d;

}



#primaria

{
visibility: hidden;

}
.navBox
{
height: 4rem;
display: flex;
align-items: center;


}


.navBox:hover  #primaria

{

visibility: visible;
top: 4rem;
left:18.4vw;

}

#primaria:hover


{

visibility: visible;

}

.textoHover:hover
{
  transition: ease-in 0.25s;
background-color: #ccdbf976;

}
#nv2:hover  #secundaria

{

visibility: visible;
top: 4rem;
left:25.25vw;

}
#secundaria
{

visibility: hidden ;

}
#secundaria:hover


{

visibility: visible;

}


#nv3:hover  #terciario

{

visibility: visible;
top: 4rem;
left:33.75vw;

}
#terciario
{

visibility: hidden ;

}
#terciario:hover


{

visibility: visible;

}



#nv4:hover  #extension

{

visibility: visible;
top: 4rem;
left:40.5vw;

}
#extension
{

visibility: hidden ;

}
#extension:hover


{

visibility: visible;

}


.link

{

text-decoration: none;


}

.user

{
display: flex;
justify-content: center;
align-items: center;
gap: 1.5rem;
width: auto;
height: 4rem;


}
.icons {
display: flex;
align-items: center;
justify-content: center;
    height:4rem;
    width: 4rem;
}
.icons:hover

{

background-color: #0000001a;


}

.icons:hover
{

cursor: pointer;

}



.sideBar


{
    
    z-index: 100;
    padding-top: 1rem;
    width: 26vw;
display: flex;
flex-direction: column;
padding-left: 1rem;
position: fixed;
justify-content: flex-start;
overflow-y: scroll;
background-color: #fff;
right: -28vw;
top: 4rem;
box-shadow: 0rem 1px 7px #00000059 ;
height: calc(100vh - 5rem);
transition: 0.5s;
}

.sideBarElement

{
    
    
    gap: 1vw;
align-items: center;
display: flex;
justify-content: flex-start;
flex-direction: row;

}

.sideBarIco

{
   
margin-left: 0.15rem;
height: 50%;
width: 8%;


}

.sideBarText

{
    
opacity: 80%;
font-family: inter;
font-size: 17px;
font-weight: 520;



}

.icon2

{

height: 61%;
width: 11%;

}


#misContenidos

{
margin-left: -0.25rem;


}

#superContenidos

{

margin-left: 0.25rem;


}


.icon3


{

height: 85%;
width: 15%;

}

#Suscripciones


{

margin-left: 0.6rem;

}

.icon4


{

width: 13%;
height: 63%;

}

#guia

{

margin-left: 0.25rem;

}

.sideBarElement:hover
{

cursor: pointer;


}

.overlay

{
   
    z-index: 10;
    position: fixed;
    top: 0px;
    left: 0px;
background-color: #0000005d;
height:100vh;
width: 100vw;

visibility: hidden;



}